@import "../../utils/commons.scss";

.switchPath {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  width: 56px;
  height: 26px;
  background: #cccecd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  .circle {
    width: 23px;
    height: 19px;
    background: #ffffff;
    border-radius: 50px;
    position: absolute;
    transition: left 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5px;
  }
  .tick {
    position: absolute;
    color: #55bc7e;
  }
  .cross {
    position: absolute;
    color: #cccecd;
  }
}
.switchPath {
  &.active,
  .partialChecked {
    background: #55bc7e;
    .circle {
      left: 28px;
    }
  }
  &.partialChecked {
    background: #f5a623;
  }
}
.switchPath .tick,
.switchPath.active .cross,
.switchPath.partialChecked .cross {
  display: none;
}
.switchPath.active .tick,
.switchPath.partialChecked .tick .switchPath .cross {
  display: block;
}
