@import "../../utils/commons.scss";

.btn {
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  min-width: 10rem;
}
.clrPrimary {
  background: var(--clr-primary);
}
.clrError {
  background: var(--clr-error);
}
.clrWarning {
  background: var(--clr-warning);
}
.clrSuccess {
  background: var(--clr-success);
}
