@import "../../utils/commons.scss";

.btn {
  color: white;
  padding: calc(0.5rem + 2px) 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  min-width: 10rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.5rem 0;
  > span {
    @extend .flexRow;
    justify-content: center;
  }
  .rightIcon,
  .leftIcon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .leftIcon {
    margin-right: 0.2rem;
  }
  .rightIcon {
    margin-left: 0.2rem;
  }
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

$mainColor: var(--clr-primary);

.clrPrimary {
  background: var(--clr-primary);
  $mainColor: var(--clr-primary);
}
.clrError {
  background: var(--clr-error);
  $mainColor: var(--clr-error);
}
.clrWarning {
  background: var(--clr-warning);
  $mainColor: var(--clr-warning);
}
.clrSuccess {
  background: var(--clr-success);
  $mainColor: var(--clr-success);
}

.outlined {
  background-color: transparent;
  border: 1px solid $mainColor;
  color: $mainColor;
}
