@import "../../utils/commons.scss";

.btn {
  color: white;
  padding: calc(0.5rem + 2px) 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  min-width: 10rem;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0.5rem 0;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.clrPrimary {
  background: var(--clr-primary);
}
.clrError {
  background: var(--clr-error);
}
.clrWarning {
  background: var(--clr-warning);
}
.clrSuccess {
  background: var(--clr-success);
}
