@import "../../utils/commons.scss";

.container {
  width: 100%;
  .profile {
    @extend .flexRow;
    justify-content: flex-start;
    .profileImage {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .actionBtn {
    margin-left: auto;
  }
  .informationContainer {
    margin: 3rem 0;
    padding-left: 2rem;
    label {
      min-width: 200px;
    }
    input,
    select {
      width: 300px;
    }
  }
  .information {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 32px;
    margin-bottom: 1.5rem;
    p {
      color: rgba(0, 0, 0, 0.88);
    }
    font-size: 14px;
  }
  .information2 {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    p {
      color: rgba(0, 0, 0, 0.88);
    }
    font-size: 14px;
  }
  .key {
    font-weight: 400;
    min-width: 200px;
  }
  .key2 {
    font-weight: 400;
    min-width: 200px;
    color: red !important;
  }
  .verifyButton{
    width: 20vw;
    margin-left: 0;
  }
  .value {
    font-weight: 500;
    width: 50vw;
    color: black;
  }
  .saveAndCancel {
    button {
      margin-right: 1rem;
    }
  }
  .role {
    padding: 2px 8px;
    line-height: 22px;
    background: rgba(0, 0, 0, 0.06);
  }
}
.nameAndUserType {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
