@import "../../utils/commons.scss";

.container {
  width: 100%;
  .back {
    cursor: pointer;
    color: rgb(143, 140, 140);
    &:hover {
      color: black;
    }
  }

  .boldLarge {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .top {
    @extend .flexRow;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    h2 {
      margin-bottom: 0;
      text-transform: capitalize;
    }
    align-items: center;
    .status {
      @extend .flexRow;
      justify-content: flex-start;
      width: -moz-fit-content;
      width: fit-content;
    }
    .statusColor {
      margin: 0px 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  .cards {
    @extend .flexRow;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .subjectCard {
    // min-width: 250px;
    flex: 1;
    // padding: 1rem 2rem;
    background-color: white;
    border-radius: 10px;
    .header {
      padding: 2rem;
      padding-bottom: 0;
      h3 {
        color: white;
      }
    }
    .content {
      padding: 2rem;
      padding-top: 1rem;
    }
    .subjectName {
      color: var(--clr-success);
      font-weight: 600;
    }
    .mid {
      margin-top: 1rem;
      @extend .flexRow;
      h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 0.9rem;

        span {
          margin-left: 0.4rem;
          font-weight: 600;
          color: white;
        }
      }
      .time {
        margin-bottom: 0.4rem;
        @extend .flexRow;
        width: -moz-fit-content;
        width: fit-content;
        align-items: center;
      }
    }
    .moreInfo {
      p {
        font-size: 1rem;
        margin: 0.8rem 0;
        @extend .flexRow;
        justify-content: space-between;
        span {
          font-weight: 600;
          color: var(--clr-txt-dark);
        }
      }
    }
  }
  .boldSmall {
    font-weight: 600;
    color: rgb(66, 66, 66);
  }
  .cards {
    @extend .flexRow;
    margin: 2rem 0;
  }
  .basicInfo {
    margin: 2rem 0;
    > div {
      @extend .flexRow;
      width: 100%;
    }
  }
  // .circularProgress {
  //   border-radius: 50%;
  //   width: 100px;
  //   height: 100px;
  // }
}
.circularProgress {
  position: relative;
  @extend .flexRow;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100px;
  > :first-child {
    position: absolute;
    transform: rotate(270deg) scale(1.5) !important;
  }
  p {
    font-size: 0.8rem;
  }
}
.globalResultTable {
  margin-top: 2rem;
}
.detailedBtns {
  @extend .flexRow;
}
.subjectWiseContainer {
  margin-top: 1rem;
}

.pieContainer {
  max-height: 200px !important;
  max-width: 200px !important;
}
.card_primary {
  .header {
    * {
      color: black;
    }
    .subjectName {
      color: var(--clr-primary) !important;
    }
  }
}
.card_success {
  .header {
    * {
      color: black;
    }
    .subjectName {
      color: var(--clr-success) !important;
    }
  }
}
.card_warning {
  .header {
    * {
      color: black;
    }
    .subjectName {
      color: var(--clr-warning) !important;
    }
  }
}
.card_error {
  .header {
    * {
      color: black;
    }
    .subjectName {
      color: var(--clr-error) !important;
    }
  }
}
.accuracy {
  @extend .flexRow;
  width: 100%;
}
