@import "../../../utils/commons.scss";

.container {
  max-width: 100%;
  .correctAnswer {
    color: green;
    // font-weight: 700;
    position: relative;
    // &::after {
    //   content: "\2713";
    //   bottom: 0;
    //   position: absolute;
    // }
  }
  .header {
    @extend .flexRow;

    h3 {
      font-weight: 600;
      text-transform: uppercase;
    }
    // .languages {
    //   @extend .flexRow;
    //   // border: 2px solid var(--clr-primary);
    //   overflow: hidden;
    //   div {
    //     padding: 0.3rem 1rem;
    //     border-radius: 5px;
    //     cursor: pointer;
    //     color: rgba(0, 0, 0, 0.4);
    //   }
    //   .selected {
    //     background: var(--clr-primary);
    //     color: white;
    //   }
    // }
  }
  .tabsContainer {
    @extend .flexRow;

    .optionsCounter {
      @extend .flexRow;
      justify-content: center;
      .count {
        margin: 0 1rem;
      }
    }
  }
  .tabs {
    margin-top: 1rem;
    width: 100%;
  }
  .editor {
    margin-top: 1.2rem;
    white-space: normal !important;

    // height: 250px;
    > div {
      // height: 210px;
    }
    > div > div {
      &:nth-child(1) {
        border-radius: 5px 5px 0 0;
      }
      &:nth-child(2) {
        border-radius: 0 0 5px 5px;
      }
    }
    // quill > ql-container ql-snow
    > div > div:nth-of-type(2) > div {
      //ql-tooltip formula
      &:nth-last-child(1) {
        // left: -10px !important;
        // top: 10px !important;
      }
    }
  }
  .actions {
    margin-top: 1.2rem;
    @extend .flexRow;
  }
}
.rawInputForm {
  width: 100%;
  @extend .flexCol;
  .rawInput {
    width: 100%;
  }
}
