@import "../../utils/commons.scss";

.container {
  // margin-top: 1rem;
  width: 100%;
  h2 {
  }

  .header {
    @extend .flexRow;
    justify-content: flex-end;
  }

  form {
    position: relative;
    overflow: hidden;
  }
  .modal {
    position: fixed;
    display: flex;
    z-index: 500;
    align-items: center;
    justify-content: center;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    .header {
      padding: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        &:hover {
          background-color: rgb(231, 231, 231);
        }
      }
    }
    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: #f3f3f9;
      height: fit-content;
      border-radius: 10px;
      width: -moz-fit-content;
      width: fit-content;
      max-width: 900px;
      padding: 2rem;

      button {
        margin: 1rem;
        width: -moz-fit-content;
        width: fit-content;
      }
      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .dropzoneContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
    .dropzone {
      width: 100%;
      height: 100%;
      @extend .flexRow;
      > div {
        width: 95%;
        height: 90%;
        margin: 0 auto;
        border: 2px dotted;
        border-radius: 10px;
        @extend .flexRow;
        cursor: pointer;
      }
      p {
        text-align: center;
        margin: auto;
      }
    }
    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 20;
      cursor: pointer;
    }

    .uploadBtn {
      position: absolute;
      bottom: 3rem;
      right: 2rem;
      z-index: 20;
    }
  }
  .singlSelect {
    > div {
      min-width: 250px;
      > div > div > div {
        top: 0;
      }
    }
  }
  .data {
    margin-top: 1rem;
  }
}
.inputFields {
  @extend .flexCol;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  > div {
    width: 100%;
  }
}
.buttons {
  width: 100%;
  button {
    width: 100%;
  }
}
