@import "../../../utils/commons.scss";

.editRole {
  // background-color: white;
  width: 100%;
  padding-bottom: 4rem;
  // padding: 2rem 1.5rem;
}
.tabHeaders {
  padding-top: 0.5rem;
  margin-top: 1rem;
}
.tabPanel {
  padding: 1rem 0;
  padding-right: 1rem;

  // height: 67vh;
  overflow: auto;
}
.permissionsContainer {
  padding: 0.2rem 0.5rem;
  > div > div {
    border: none;
  }
}
.peopleContainer {
  margin: 0.5rem 0rem;
  padding: 1rem 2rem;
}
.permissionHeader {
  @extend .flexRow;
  justify-content: space-between;
  width: 100%;
}
.permissions > div {
  margin: 1rem 0;
}
.permission {
  padding: 0.5rem 0;
  p,
  h4 {
    margin: 0;
  }
  display: flex;
  align-items: center;
  .leftContent {
    width: fit-content;
    width: -moz-fit-content;
  }
  > div:nth-child(2) {
    margin-left: auto;
  }
}
.separationLine {
  width: 100%;
  height: 1px;
  background-color: rgb(224, 224, 224);
}
.managePeople {
  margin: 1rem 0;
}
.modalButtons.actionButtons {
  width: 100%;
  @extend .flexRow;
  justify-content: space-between;
}
.floatingUpdateBtn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
