@import "../../utils/commons.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: scaleAndAlpha 0.3s ease-in-out;
  background-color: rgba($color: #000000, $alpha: 0.3);
  .modal {
    max-width: 70%;
    min-width: 300px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    // width: fit-content;
    background: white;
    padding:2rem ;
    border-radius: 15px;

    .header {
      @extend .flexRow;
      justify-content: space-between; 
      margin-bottom: 1rem;
      h3{
        margin:0;
      }
      button{
        margin-left: 4rem;
      }
    }
  }
  &.modalOpen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
}

@keyframes scaleAndAlpha {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
