@import "../../utils/commons.scss";

.container {
  width: 100%;
  // padding: 1.5rem 0;
  position: relative;
  .formContainer {
    // background: white;
    // padding: 1rem 1.5rem;
    // border-radius: 10px;
    margin-top: 1rem;
  }
  .inputFields {
    margin: 0.5rem 0;
    @extend .flexRow;
    justify-content: space-between;
    flex-wrap: wrap;

    > * {
      flex: 1;
      margin: 1rem 0;
      margin-right: 1rem;
    }
    > div {
      min-width: 48%;
      max-width: 48%;
    }
    // > div:nth-child(4) {
    //   max-width: 500px;
    // }
    > div:nth-child(1),
    > div:nth-child(2),
    > div:nth-child(3) {
      min-width: 25%;
    }
  }
  .main {
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
  }
  .questionsHeader {
    @extend .flexCol;
    width: 100%;
    .searchAndPrint {
      @extend .flexRow;
      justify-content: space-between;
      width: 100%;
      padding: 0 1.5rem;
    }
    .searchAndPrint2 {
      @extend .flexRow;
      justify-content: end;
      width: 100%;
    }
    .filters {
      flex: 1;
      @extend .flexRow;
      gap: 10px;
      width: 100%;
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      background-color: rgba(0, 0, 0, 0.03);
      > div {
        flex: 1;
      }
      :global {
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          border-radius: 6px !important;
        }
      }
    }
  }
  .tableContainer {
    padding: 0 1.5rem;
  }
}

.printContainer {
  // position: fixed;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  background: white;
  z-index: -1;
  pointer-events: none;
  border: 1px solid grey;
  // width: 240mm;
  overflow-y: auto;

  // height: 297mm;
  @extend .flexRow;

  .print {
    position: relative;
    // height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 3rem;

    .printHeader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      .upper {
        @extend .flexRow;
        background: rgb(75, 75, 75);
        // padding: 1rem;
        p {
          color: black;
          background: white;
          padding: 0.5rem 2rem;
          font-size: 1.2rem;
          margin: 0;
        }
      }
      .lower {
        @extend .flexRow;
        margin-top: 1rem;
        background: rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-bottom: 2px solid black;
        position: relative;
        p {
          position: absolute;
          top: 0;
          right: 0;
          background: white;
          padding: 0.5rem 2rem;
          font-size: 1.2rem;
          font-weight: 600;
        }
        h2 {
          text-align: center;
          width: 100%;
          font-weight: 600;
          color: black;
        }
      }
    }
    .questionsContainer {
      @extend .flexRow;
      > div:nth-child(1) {
        border-right: 1px solid black;
        padding-right: 1rem;
      }
      > div:nth-child(2) {
        padding-left: 1rem;
      }
    }
    .questions {
      // margin-top: 2rem;
      .question {
        @extend .flexRow;
        justify-content: flex-start;
        align-items: flex-start;

        span {
          font-weight: 600;
        }

        > div {
          margin-left: 1rem;
          * {
            color: black !important;
            font-size: 1.1rem;
          }
        }

        .options {
          width: 100%;
          .option {
            @extend .flexRow;
            justify-content: flex-start;
            align-items: flex-start;
            > div {
              margin-left: 1rem;
            }
          }
        }
      }
    }

    .content {
      height: calc(270mm - 150px - 100px);
      margin-top: 150px;
      margin-bottom: 100px;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    @extend .flexRow;
    border-top: 2px solid black;
    text-align: center;
  }
}
.submitButton {
  text-align: end;
}
.toggleButton {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  > span {
    margin-left: 0.5rem;
  }
}
.footer {
  background-color: rgb(245, 245, 245);
  width: 100%;
  @extend .flexRow;
  padding: 10px 15px;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.previewBreadCumb {
  @extend .flexRow;
  justify-content: space-between;
  align-items: center;

  .previewBreadCumbDiv {
    width: 50%;
    @extend .flexRow;
    justify-content: space-between;
    h4 {
      overflow: hidden;
      max-width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.detailsContainer {
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  .detailsHeader {
    @extend .flexRow;
    justify-content: space-between;
  }
  .detailsMid {
    @extend .flexCol;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1rem;
    > div > p {
      margin: 0.3em 0;
    }
  }
}
.solutionContainer {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #55bc7e1a;
  border-left: 0.4rem solid #55bc7e;
  > p {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  // border-radius: 0.3rem;
}

.optionsList {
  @extend .flexCol;
  list-style: none;

  .option {
    @extend .flexRow;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem 0.6rem;
    margin: 0.8rem 0;
    .optionNumber {
      color: grey;
    }
    &.selected {
      border: 2px solid #55bc7e;
      border-radius: 0.4rem;
      .checkbox {
        margin-left: auto;
        color: #55bc7e;
      }
    }
  }
}
.paragraphQuestions {
  padding: 0.5rem;
  > div {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}
.toggleProofRead {
  @extend .flexRow;
  justify-content: flex-start;
  gap: 1rem;
}
