* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCol {
  @extend .flexRow;
  flex-direction: column;
}
