.flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCol {
  @extend .flexRow;
  flex-direction: column;
}

.noSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
