@import "../Users.module.scss";

.container {
  // margin-top: 1rem;
    .modalButtons.actionButtons{
      width: 100%;
      @extend .flexRow;
      justify-content: space-between;
    }
  h2 {
    margin: 0;
  }

  .header {
    button {
      margin: 0 1rem !important;
    }
  }

  form {
    display: flex;
      justify-content: center;
      background-color: #f3f3f9;
      height: fit-content;
      width: -moz-fit-content;
      width: fit-content;
      max-width: 900px;
      position: relative;
    .inputFields > div {
      margin-left: 0 !important;
     width:100% !important;
     >div{
      padding-right: 16px;
     }
    }
  }

  .dropzoneContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background: white;
    z-index: 10;
    .dropzone {
      width: 100%;
      height: 100%;
      @extend .flexRow;
      > div {
        width: 95%;
        height: 90%;
        margin: 0 auto;
        border: 2px dotted;
        border-radius: 10px;
        @extend .flexRow;
        cursor: pointer;
      }
      p {
        text-align: center;
        margin: auto;
      }
    }
    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 20;
      cursor: pointer;
    }

    .uploadBtn {
      position: absolute;
      bottom: 3rem;
      right: 2rem;
      z-index: 20;
    }
    .progress {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -55%);
      width: 40%;
    }
  }
  .singlSelect {
    > div {
      min-width: 250px;
      > div > div > div {
        top: 0;
      }
    }
  }
  .progressError {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // padding: 1rem 0;
    span {
      min-height: 10px;
      width: 100%;
    }
    .error,
    .success {
      background: var(--clr-error);
      color: white;
      text-align: center;
      display: block;
    }
    .success {
      background: var(--clr-success);
    }
  }
}
