@import "../../utils/commons.scss";

.roles {
  background-color: white;
  padding: 2rem 1.5rem;
  width: 100%;
  border-radius: 10px;
  .tableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h4:nth-of-type(2) {
      position: absolute;
      left: 48%;
      top: 50%;
      transform: translate(-45%, -50%);
    }
  }
  .tableContent {
    a {
      width: 100% !important;
      display: flex;
      padding: 1rem 0;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin: 1rem 0;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      p {
        margin: 0;
      }
      .member {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 40%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        > img {
          padding-right: 1rem;
        }
        > img:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.memberContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  &::before {
    content: "";
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 28px;
    z-index: 0;
    width: 96%;
    height: 60px;
  }

  &:hover::before {
    background: #f5f5f5;
  }
}
