@import "../../../utils/commons.scss";
@import "../Objective/Objective.module.scss";

.container {
  .paragraphEditor {
    hr {
      border: 1px solid var(--clr-primary);
    }
    .questionsCounter {
      @extend .flexRow;

      > div {
        .count {
          margin: 0 1rem;
        }
      }
    }
  }
  .question {
    margin-top: 1rem;
  }
}
.paraQuestionsContainer {
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0.02);
  padding: 1rem;
  border-radius: 0.3rem;
}
