@import "../../utils/commons.scss";

.container {
  width: 100%;
  min-height: 100vh;
  @extend .flexRow;
  justify-content: center;
  .content {
    max-width: 40%;
    width: 100%;
    margin-top: 5rem;
    h2 {
      text-align: center;
      margin: 2rem 0;
    }
  }

  .regForm {
    @extend .flexCol;
    align-items: stretch;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .regForm2 {
    @extend .flexCol;
    align-items: stretch;
    // gap: 1.5rem;
    margin-top: 2rem;
  }
  .regFormGrid {
    margin-top: 2rem;
    @extend .flexRow;
    flex-wrap: wrap;
    gap: 1.5rem;
    > div {
      flex: 1;
      min-width: 200px;
    }
    > button {
      flex: 1;
      max-width: 240px;
    }
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    justify-content: center;
  }
}
