.MuiAutocomplete-endAdornment {
  /* top: 0 !important; */
}
.ql-editor {
  white-space: normal !important;
}
.ant-dropdown {
  z-index: 10000;
}

input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
}
.ant-popconfirm {
  z-index: 10000;
}
.errorLabel {
  color: var(--clr-error) !important;
}

.ant-drawer-header-title .ant-drawer-close {
  padding: 8px;
  border-radius: 50%;
}
.ant-drawer-header-title .ant-drawer-close:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
