*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

:root {
  --clr-primary: #61b4f1;
  --clr-success: #55bc7e;
  --clr-warning: #f8ba1c;
  --clr-error: #fc5f5f;
  --clr-txt-light: #848484;
  --clr-txt-dark: #454545;

  --clr-bg-light: #f3f3f9;

  // sizes
  --sidebar-width: 300px;
  --margin-due-to-sidebar: calc(var(--sidebar-width) + 2rem);
}

html {
  font-size: 14px;
  h1 {
    font-size: 2rem;
    color: var(--clr-txt-dark);
  }
  h2 {
    font-size: 1.5rem;
    color: var(--clr-txt-dark);
  }
  h3 {
    font-size: 1.2rem;
    color: var(--clr-txt-dark);
  }
  h4 {
    font-size: 1.1rem;
    color: var(--clr-txt-dark);
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    // color: var(--clr-txt-light);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: rgb(194, 194, 194);
  border-radius: 0.5rem;
}
a {
  text-decoration: none;
}

// Reduce the size of right side bar on 1400px and
// display: none on width <= 1300px
@media screen and (max-width: 1400px) {
  :root {
    --sidebar-width: 250px;
    --margin-due-to-sidebar: calc(var(--sidebar-width) + 2rem);
  }
}

@media screen and (max-width: 1300px) {
  :root {
    --margin-due-to-sidebar: 0;
  }
}
