@import "../utils/commons.scss";

.container {
  position: relative;
  @extend .flexRow;
  min-height: 100vh;
  .mainContainer {
    flex: 1;
    overflow-y: auto;
    background: var(--clr-bg-light);
    height: 100vh;
    position: relative;

    nav {
      z-index: 100;
      -ms-user-select: auto;
      -webkit-user-select: auto;
      user-select: auto;
      @extend .flexRow;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      h3 {
        font-weight: 500;
      }

      .actions {
        // width: 20%;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        // // margin: 0 auto;

        // div {
        //   display: flex;
        //   align-items: center;
        //   justify-content: center;
        //   flex-direction: row;

        //   .imageContainer {
        //     width: -moz-fit-content;
        //     width: fit-content;
        //     margin: 0;
        //     padding: 12px 1rem;
        //     border-radius: 0 50px 50px 0;
        //     cursor: pointer;
        //   }
        // }

        // img {
        //   width: 20px;
        // }

        // div > div {
        //   width: 300px;
        //   border-radius: 50px 0 0 50px;
        //   border: none;
        //   background: white;
        //   padding: 0;

        //   div > div > input {
        //     padding: 12px 1rem;
        //   }

        //   div > div::before {
        //     border-bottom: none;
        //   }

        //   div > div::after {
        //     border-bottom: none;
        //   }
        // }

        // button {
        //   background: white;
        //   margin-left: 2rem;
        // }
      }
    }
    nav {
      background: var(--clr-bg-light);
      padding: 2rem;
      width: 100%;
    }

    > main {
      padding: 0 2rem;
      // margin-right: var(--margin-due-to-sidebar);
      // width: calc(100% - var(--margin-due-to-sidebar));
      // margin-top: 1rem;
      @extend .flexRow;
      align-items: flex-start;
      position: relative;
    }
  }
}
