@import "../utils/commons.scss";

.container {
  > div {
    width: 200px;
  }
  .right {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
  }
  position: relative;
  @extend .flexRow;
  min-height: 100vh;
  .mainContainer {
    flex: 1;
    background: lightblue;
    border-radius: 2rem 0 0 2rem;
    padding: 1rem;
    min-height: 100vh;

    nav {
      @extend .flexRow;
    }
    nav,
    main {
      margin-right: 20rem;
    }
  }
}
