@import "../../utils/commons.scss";

.container {
  width: 100%;
  .inputFields {
    width: 100%;
    // @extend .flexRow;
    // flex-wrap: wrap;
    // > div {
    //   margin: 0.5rem;
    //   flex: 1;
    //   min-width: 200px;
    // }
    // .dateSelector {
    //   display: block;
    // }
    .form {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      gap: 1rem;
      > div {
        min-width: 200px;
        max-width: 250px;
        flex: 1;
      }
    }
  }

  .sections {
    margin-top: 1rem;
    padding-bottom: 2rem;
    .section {
      background: white;
      border-radius: 0.3rem;
      padding: 1.5rem;
      margin: 1rem 0;
    }
  }
  .subSections {
    margin-top: 1rem;
    .subSection {
      background: rgba(0, 0, 0, 0.05);
      padding: 1.5rem;
      border-radius: 0.3rem;
      .questionsList {
        margin-top: 1rem;
      }
    }
  }
  .header {
    @extend .flexRow;
    p {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.7);
      text-transform: capitalize;
    }
    span {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .searchHeader {
    @extend .flexRow;
    margin-top: 0.5rem;
    .addQuestion {
      flex: 1;
      // background: white;
      // text-align: center;
      // padding: 0.6rem 0;
      // border-radius: 0.2rem;
      // cursor: pointer;
      margin: 0;
    }
    button {
      margin-left: 1rem;
    }
  }
  .submitBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 5;
  }
}
.insertQuestionModal {
  width: 100%;
  margin: 0 auto;
  height: 65vh;
  // height: 100% !important;
  padding: 1rem 0;
  .inputFieldsHeader {
    @extend .flexRow;
    flex-wrap: wrap;
    > div {
      flex: 1;
      margin: 1rem 0.2rem;
      min-width: 200px;
    }
    > div:nth-last-child(1) {
      min-width: 400px;
      flex: 1;
      width: 100% !important;
    }
  }
  .questionsTable {
    height: 60vh;
    margin-top: 1rem;
    overflow: auto;
  }
}
.modalQuestion {
  border: 2px dotted rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  .options {
    @extend .flexRow;
    div {
      background: rgba(0, 0, 0, 0.05);
      margin: 0 0.4rem;
      @extend .flexRow;
      justify-content: center;
      flex: 1;
      height: 3rem;
      p {
        margin: 0;
      }
    }
  }
}
.inputSection {
  @extend .flexRow;
  > div {
    flex: 1;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }

    .inputNumber {
      width: 100%;
    }
  }
  margin-top: 1rem;
}

.questionsHeader {
  @extend .flexCol;
  width: 100%;
  margin: 1rem 0;
  .searchAndPrint {
    @extend .flexRow;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem;
  }
  .searchAndPrint2 {
    @extend .flexRow;
    justify-content: end;
    width: 100%;
  }
  .filters {
    flex: 1;
    @extend .flexRow;
    gap: 10px;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.03);
    > div {
      flex: 1;
    }
    :global {
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 6px !important;
      }
    }
  }
}
.tableContainer {
  width: 100%;
}
.questionsAddedCount {
  @extend .flexRow;
  justify-content: flex-end;
  p {
    font-size: 0.9rem;
    text-transform: capitalize;
  }
  > p:not(:last-child) {
    margin-right: 1rem;
  }
}
