@import "../../utils/commons.scss";

.container {
  width: 100%;
  .inputFields {
    width: 100%;
    @extend .flexRow;
    flex-wrap: wrap;
    > div {
      margin: 0.5rem;
      flex: 1;
      min-width: 200px;
    }
    // .dateSelector {
    //   display: block;
    // }
  }

  .sections {
    margin-top: 1rem;
    .section {
      background: white;
      border-radius: 0.3rem;
      padding: 1.5rem;
      margin: 1rem 0;
    }
  }
  .subSections {
    margin-top: 1rem;
    .subSection {
      background: rgba(0, 0, 0, 0.05);
      padding: 1.5rem;
      border-radius: 0.3rem;
    }
  }
  .header {
    @extend .flexRow;
    p {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.7);
      text-transform: capitalize;
    }
    span {
      font-size: 0.9rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .searchHeader {
    @extend .flexRow;
    .addQuestion {
      flex: 1;
      background: white;
      text-align: center;
      padding: 0.6rem 0;
      border-radius: 0.2rem;
      cursor: pointer;
    }
    button {
      margin-left: 1rem;
    }
  }
}
.insertQuestionModal {
  width: 90%;
  margin: 0 auto;
  // height: 80vh;
  padding: 1rem 0;
  .inputFieldsHeader {
    @extend .flexRow;
    flex-wrap: wrap;
    > div {
      flex: 1;
      margin: 1rem 0.2rem;
      min-width: 200px;
    }
    > div:nth-last-child(1) {
      min-width: 400px;
      flex: 1;
      width: 100% !important;
    }
  }
  .questionsTable {
    margin-top: 2rem;
  }
}
.modalQuestion {
  border: 2px dotted rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  .options {
    @extend .flexRow;
    div {
      background: rgba(0, 0, 0, 0.05);
      margin: 0 0.4rem;
      @extend .flexRow;
      justify-content: center;
      flex: 1;
      height: 3rem;
      p {
        margin: 0;
      }
    }
  }
}
